a {
  color: #f2f2f2;
}

body {
  background-color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.page__footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.twitter_icon {
  width: 30px;
}
.linkedin_icon {
  width: 30px;
}
.github_icon {
  width: 30px;
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}
@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.cloud-front {
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-name: cloud-move;
  animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.interest-list {
  list-style-type: none;
}

.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* Grid fallback*/

.grid__item {
  display: inline-block;
  width: 33%;
}

/* Styling CSS grid*/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: LightGrey;
  padding: 30px;
  /* Set width to auto*/
  width: auto;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 3 / 2;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.about {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.skills {
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}
a {
  color: #2a6259;
}

a:visited {
  /* visited link */
  color: #5c5c5c;
}
a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: #489c79;
}
.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #46464d;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.grid {
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.grid__item :last-child {
  grid-column: auto / auto;
  grid-row: auto / auto;
}
h1 {
  font-size: 22px;
}
